body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


h1 {

    font-size: 50px;
    text-align: center;

}

.section-one {
    background: url(images/donation13.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin-top: -30px;

}

.top-banner {
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 200px;
}

.donate-today {

    text-align: center;

}




.donate-boxes {
    display: flex;
    justify-content: center;


}

.donate-box1 {
    width: 200px;
    background-color: rgb(247, 238, 238);


    border-radius: 5px;
    font-size: 50px;
    color: rgb(91, 83, 85);
}

.donate-box2 {
    width: 200px;
    background-color: rgb(247, 238, 238);
    margin-left: 20px;
    border-radius: 5px;
    font-size: 50px;
    color: rgb(238, 6, 87);
    border: 2px solid rgb(238, 6, 87);

}

.donate-box3 {
    width: 200px;
    background-color: rgb(247, 238, 238);


    border-radius: 5px;
    font-size: 50px;
    color: rgb(91, 83, 85);
    margin-left: 20px;
}

.donate-box4 {
    width: 200px;
    background-color: rgb(247, 238, 238);


    border-radius: 5px;
    font-size: 50px;
    color: rgb(91, 83, 85);
    margin-left: 20px;
}

.donate-box5 {
    width: 200px;
    background-color: rgb(247, 238, 238);


    border-radius: 5px;
    font-size: 50px;
    color: rgb(91, 83, 85);
    margin-left: 20px;
}




#donante-input {
    border: none;
    height: 30px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid grey;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(172, 152, 185), rgb(226, 182, 39), rgb(226, 182, 39));
    padding: 8px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700;

}

.our-plan {

    text-align: center;


}

.flex-containar {
    display: flex;
    justify-content: center;
}

#pragraph {

    font-size: 18px;
}




.flex-containar {
    display: flex;
    justify-content: center;
}

.card1 {

    width: 300px;
    height: 300px;
    border: 3px solid gray;
    background-color: rgb(217, 231, 231);
    text-align: center;
    padding: 6%;
    margin-left: 20px;
    margin-bottom: 2%;
    box-shadow: 8px 8px 16px rgb(48, 46, 45);

}

.card2 {

    width: 300px;
    height: 300px;
    border: 3px solid gray;
    background-color: rgb(217, 231, 231);
    text-align: center;
    padding: 6%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 2%;
    box-shadow: 8px 8px 16px rgb(48, 46, 45);


}

.card3 {

    width: 300px;
    height: 300px;
    border: 3px solid gray;
    background-color: rgb(217, 231, 231);
    text-align: center;
    padding: 6%;
    margin-right: 20px;
    margin-bottom: 2%;
    box-shadow: 8px 8px 16px rgb(48, 46, 45);

}

.icon {

    width: 40%;
    height: 50%;
    margin-top: -60px;


}

.paragraph {

    text-align: justify;
}

.section-three {

    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;

}

.half {
    width: 60%;
    height: 100%;
    text-align: justify;

}

#sec3-h1 {

    text-align: justify;
    font-size: 60px;

}

.donation-img {
    margin-left: 40px;
    width: 80%;
}


.our-updates {
    text-align: center;
    font-size: 20px;
}







/* .button {

    width: 200px;
    height: 120px;
    background-color: rgb(252, 252, 252);
    border-color: aliceblue;
    margin: 40px;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
} */




.form {

    width: 40%;
    height: 250px;
    background-color: rgb(220, 206, 206);
    border-color: rgb(21, 22, 22);
    margin: 0 auto;

    text-align: center;
}



#subscribe-button {

    font-size: medium;

}







#mail {
    font-size: 20px;
    border: none;
    width: 250px;
    height: 40px;
}

#subscribe {
    background-color: brown;
    border: none;
    height: 40px;
    font-size: 20px;
    margin-top: 100px;
}

.footer {
    background-color: black;
    color: aliceblue;
    height: 160px;
    padding-top: 4px;
}